<% content_for :header_tags do %>
  <%= javascript_include_tag 'angular', :plugin => 'redmine_refu' %>
  <%= javascript_include_tag 'angular-bootstrap', :plugin => 'redmine_refu' %>
  <%= javascript_include_tag 'app', :plugin => 'redmine_refu' %>
  <%= stylesheet_link_tag 'bootstrap.min', :plugin => 'redmine_refu' %>
<% end %>

<script>
  var projects = [
    <% Project.project_tree(Project.all) do |project, level| %>
      <% proj = project.attributes %>
      <% proj["level"] = level %>
      <%= proj.to_json.html_safe %>,
    <% end %>
  ];
</script>

<h3>Vorhandene Projekte</h3>

<div ng-app="projects">
  <div ng-controller="projectList">
    <input ng-model="search" placeholder="Projektname">
    <label>
      <input type="checkbox" ng-model="includeArchived">
      Archivierte Projekte anzeigen?
    </label>
    <label>
      <input type="checkbox" ng-model="includeSubprojects">
      Unterprojekte anzeigen?
    </label>
    <br><br>
    <div class="list-group">
      <a href="<%= url_for(:controller => 'projects', :action => 'index')%>/{{project.identifier}}"
        ng-class="{'list-group-item': true, disabled: project.status !==1}"
        ng-repeat="project in projects | filter:{name:search} | filterArchived:includeArchived | filterSubprojects:includeSubprojects">

        <h5 style="margin-left: {{project.level * 25}}px" class="list-group-item-heading">{{project.name}}</h5>
        <!--<p class="list-group-item-text" ng-if="project.description !== '' ">{{project.description}}</p> -->
      </a>
    </div>

  </div>
</div>
